<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen.storyboard</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to insert images into notes.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture and insert images into notes.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.matchanote://auth-callback</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
